{% extends "base.html" %}

{% block title %}All Pokemon{% endblock %}

{% block content %}
<h1 class="w-full text-center" >All Pokémon</h1>
<a class="m-4" href="{{ url_for('pokemon.new_pokemon') }}">Add New Pokémon</a>
<div class="m-4">
  <table>
    <thead class="bg-red color-white">
      <tr>
	<th>PokeNum</th>
	<th>Pname</th>
	<th>RegionID</th>
      <th>Image</th>
	<th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for pokemon in pokemon_list %}
      <tr class="pokemon-row">
	<td>{{ pokemon['PokeNum'] }}</td>
	<td>{{ pokemon['Pname'] }}</td>
	<td>{{ pokemon['RegionName'] }}</td>
	<td><img src="{{ url_for('static', filename=pokemon['Image']) }}" alt="{{ pokemon['Pname'] }}"></td>
	<td>
	  <form action="{{ url_for('pokemon.delete_pokemon', id=pokemon['PokeID']) }}" method="POST" style="display:inline;">
	  <input type="hidden" name="id" value="{{ pokemon['PokeID'] }}">
	  <button type="submit">Delete</button>
	  </form>
	  <a href="{{ url_for('pokemon.edit_pokemon', id=pokemon['PokeID']) }}">Edit</a>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

