{% extends 'base.html' %}

{% block title %}Create New Pokémon{% endblock %}

{% block content %}
<h1 class="w-full text-center">Create New Pokémon</h1>

<div class="flex w-full justify-center items-center">
  <form class="form-container color-white" action="{{ url_for('pokemon.create_pokemon') }}" method="post">
    <div class="form-row">
      <label class="items-start" for="poke_id">Pokémon ID</label>
      <input class="items-end" type="text" id="poke_id" name="poke_id">
    </div>
    
    <div class="form-row">
      <label for="poke_num">Pokémon Number</label>
      <input type="text" id="poke_num" name="poke_num">
    </div>
    
    <div class="form-row">
      <label for="name">Name</label>
      <input type="text" id="name" name="name">
    </div>
    
    <div class="form-row">
      <label for="region_id">Region ID</label>
      <input type="text" id="region_id" name="region_id">
    </div>
    
    <div class="form-row">
      <label for="image">Image URL (optional)</label>
      <input type="text" id="image" name="image">
    </div>
    
    <div class="form-row">
      <label for="types">Types (select multiple)</label>
      <select id="types" name="types" multiple>
        {% for type in types %}
        <option value="{{ type.TypeID }}">{{ type.TypeName }}</option>
        {% endfor %}
      </select>
    </div>
    
    <input type="submit" value="Save">
  </form>
</div>
{% endblock %}
